# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


# Visual Studio Code related
.classpath
.project
.settings/
.vscode/


# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/




# Web related
lib/generated_plugin_registrant.dart

android/
ios/
web/
linux/

*.jks

# Coverage
coverage/
*.lcov

analysis_options.yaml
pubspec.lock
states_rebuilder_package/example/ios/Flutter/Generated.xcconfig
states_rebuilder_package/example/ios/Flutter/flutter_export_environment.sh
