name: states_rebuilder
description: a simple yet powerful state management technique for Flutter
version: 4.0.0
homepage: https://github.com/GIfatahTH/states_rebuilder

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.14.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.9.0
  flutter_localizations:
    sdk: flutter 

flutter: