<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.async_counter_app_with_injector">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
